<div id="nav"><ul class="menu">
			<li><a href="/urls">Home</a></li>
   <% if(user===""||typeof(user)==="undefined"){ %>
       <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
    </ul></div>
         <% } else{ %>
      <li><a href="/urls/new">New link</a></li>
       <li><form action="/logout" method="POST">
      <input type="submit" value="Logout" style="padding: 25px 40px;font-size:24px">
        </form></li></ul>       
       </div>
    <h1>Welcome: <%=user.email%></h1>
        <% } %>