<!DOCTYPE html>
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
			<li><a href="/urls">Home</a></li>
			<li><a href="/urls/new">Create new link</a></li>
      <li><a href="/register">Register</a></li>
   <% if(user===""||typeof(user)==="undefined"){ %>
      <li><a href="/login">Login</a></li>
	</div>
<h1></h1>
       <% } else{ %>

       <form action="/logout" method="POST" style="margin:50px;">
      <input type="submit" value="Logout">
        </form>
        


       </div>
    <h1><%=user.email%></h1>
        <% } %>
</nav>