<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="/style.css"></head>
<body>
  <% include partials/_header %>
         <table class="table">
        <thead>
          <tr>
            <th>Short Url</th>
            <th>Long Url</th>
            <th>Visits</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%=shortURL%></td>
            <td><%=longURL%></td>
             <td><%=cookie%></td>
          </tr>
        </tbody>
      </table>  
    <form action="/urls/<%=shortURL%>" method="POST" style="margin:100px;">
      <label for="longURL">Update the short URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 200px">
      <input type="submit" value="Update">
        </form>
      </body>
</html>