<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/_header %>
</head>
<body>
  <form method="POST" action="/urls/9sm5xK/delete">
         <table class="table">
        <thead>
          <tr>
            <th>long Name</th>
            <th>short name</th>
          </tr>
        </thead>
        <tbody>
          <% for(var x in urls){ %>
          <tr>
            <td><%= urls[x] %></td>
            <td><%= x %></td>
            <td><a href="/urls/<%=x%>">Edit</a></td>
            <td><button type="submit" value="delete" name="delete">Delete</button></td>    
          </tr>
          <% } %>
          <tr>
<!--            <td colSpan="2">
              <a href="/beers/new">New Beer</a>
            </td>-->
          </tr>
        </tbody>
      </table>
      </form>   <!-- Add your EJS code here -->
</body>
</html>